<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
{%csrf_token%}
<label for="about_author">
    Your name
</label>
<input type="text" name="author" >
<label for="about_title">Your message</label>
<input type="text" name="title">
<label for="about_email">Your email</label>
<input type="text" name="email">
<button type="submit"> Send</button>
    </form>
</body>
</html>